img {
    width: 100px;
}

#login_field {
    text-align: right;
}

#delete_warning {
    color: red;
    font-weight: bold;
}

.col-md-4 {
    margin-bottom: 15px;
}

#star_empty,
#star {
    color: gold;
}