{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <h4>Sort by: </h4>
                <li><a href="{% url 'order_by_title' %}?order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Title</a></li>
                <li><a href="{% url 'order_by_album' %}?order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Album</a></li>
                <li><a href="{% url 'order_by_genre' %}?order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Genre</a></li>
                <li><a href="{% url 'order_by_artist' %}?order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Artist</a></li>
                <li><a href="{% url 'order_by_year' %}?order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Year</a></li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <h4>Filter by: </h4>
                <li><a href="{% url 'favorites' %}">Favorites</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        {% for music in musics %}
            <div class="well col-md-4">
                    <img src="{{ music.cover }}" alt="cover" />
                <a href="/{{ music.id }}/">
                    <p>Title: {{ music.title }}</p>
                </a>
                    <p>Album: {{ music.album }}</p>
                    <p>Genre: {{ music.genre }}</p>
                    <p>Artist: {{ music.artist }}</p>
                    <p>Year: {{ music.year }}</p>
                    {% if music.favorites == False %}
                        <button id="star" data-id="{{ music.id }}" class="glyphicon glyphicon-star-empty" type="button" />
                    {% else %}
                        <button id="star" data-id="{{ music.id }}" class="glyphicon glyphicon-star" type="button" />
                    {% endif %}
            </div>
        {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}