{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        {% for music in musics %}
            <div class="well col-md-4">
                    <img src="{{ music.cover }}" alt="cover" />
                <a href="/user/{{ music.user.username }}/">
                    <p>by: {{ music.user.username }}</p>
                </a>
                <a href="/{{ music.id }}/">
                    <p>Title: {{ music.title }}</p>
                </a>
                    <p>Album: <a href="/album/{{ music.album }}/">{{ music.album }}</p></a>
                    <p>Genre: <a href="/genre/{{ music.genre }}/">{{ music.genre }}</p></a>
                    <p>Artist: <a href="/artist/{{ music.artist }}/">{{ music.artist }}</p></a>
                    <p>Year: <a href="/year/{{ music.year }}/">{{ music.year }}</p></a>
            </div>
        {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}