{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <h4>Sort by: </h4>
                <li><a href="{% url 'order_by_title' %}?order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Title</a></li>
                <li><a href="{% url 'order_by_album' %}?order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Album</a></li>
                <li><a href="{% url 'order_by_genre' %}?order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Genre</a></li>
                <li><a href="{% url 'order_by_artist' %}?order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Artist</a></li>
                <li><a href="{% url 'order_by_year' %}?order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Year</a></li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <h4>Filter by: </h4>
                <li><a href="{% url 'favorites' %}">Favorites</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        {% for music in musics %}
            <div class="well col-md-4">
                    <img src="{{ music.cover }}" alt="cover" />
                <a href="/user/{{ music.user.username }}/">
                    <p>by: {{ music.user.username }}</p>
                </a>
                <a href="/{{ music.id }}/">
                    <p><b>Title: {{ music.title }}</b></p>
                </a>
                    <p>Album: <a href="/album/{{ music.album }}/">{{ music.album }}</p></a>
                    <p>Genre: <a href="/genre/{{ music.genre }}/">{{ music.genre }}</p></a>
                    <p>Artist: <a href="/artist/{{ music.artist }}/">{{ music.artist }}</p></a>
                    <p>Year: <a href="/year/{{ music.year }}/">{{ music.year }}</p></a>
                    {% if music.favorites == False %}
                        <button id="star" data-id="{{ music.id }}" class="glyphicon glyphicon-star-empty" type="button" />
                    {% else %}
                        <button id="star" data-id="{{ music.id }}" class="glyphicon glyphicon-star" type="button" />
                    {% endif %}
            </div>
        {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
        {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if user.is_authenticated %}
                <form action="post_url/" method="post" class="music-form" >
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <input type="submit" value="Submit" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}