{% extends "base.html" %}
{% load staticfiles %}
{% load embed_video_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <img src="{{ music.cover }}" alt="cover" />
            <p>Title: {{ music.title }}</p>
            <p>Album: {{ music.album }}</p>
            <p>Genre: {{ music.genre }}</p>
            <p>Artist: {{ music.artist }}</p>
            <p>Year: {{ music.year }}</p>
        </div>
        <div class="col-md-4">
            <p>{{ music.lyrics|linebreaks }}</p>
        </div>
        <div class="col-md-4">
            {% if music.video is not NULL %}
                {% video music.video 'small' %}
            {% else %}
                <p>Your video is here!</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if user.is_authenticated %}
                <h2>Add lyrics & video:</h2>
                <form action="/{{ music.id }}/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />
                </form>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if user.is_authenticated %}
                <h2>Edit:</h2>
                <form action="/{{ music.id }}/" method="post">
                    {% csrf_token %}
                    {{ form_n.as_p }}
                    <input type="submit" value="Submit" />
                </form>
            {% endif %}
        </div>
        <div class="col-md-2">
            {% if user.is_authenticated %}
                <h2>Delete:</h2>
                <p id="delete_warning">Don't press if you don't sure!</p>
                <form action="/{{ music.id }}/del/" method="post">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Delete" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}