{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <h4>Sort by: </h4>
                <li><a href="#">Title</a></li>
                <li><a href="#">Album</a></li>
                <li><a href="#">Genre</a></li>
                <li><a href="#">Artist</a></li>
                <li><a href="#">Year</a></li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <h4>Filter by: </h4>
                <li><a href="favorites/">Favorites</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        {% for music in musics %}
            <div class="well col-md-4">
                    <img src="{{ music.cover }}" alt="cover" />
                <a href="/user/{{ music.user.username }}/">
                    <p>by: {{ music.user.username }}</p>
                </a>
                <a href="/{{ music.id }}/">
                    <p>Title: {{ music.title }}</p>
                </a>
                    <p>Album: {{ music.album }}</p>
                    <p>Genre: {{ music.genre }}</p>
                    <p>Artist: {{ music.artist }}</p>
                    <p>Year: {{ music.year }}</p>
                    {% if music.favorites == False %}
                        <form action="add_to_fav/{{ music.id }}/" method="post">
                        {% csrf_token %}
                        <button id="star_empty" class="glyphicon glyphicon-star-empty" type="submit" />
                        </form>
                    {% else %}
                        <form action="add_to_fav/{{ music.id }}/" method="post">
                        {% csrf_token %}
                        <button id="star" class="glyphicon glyphicon-star" type="submit" />
                        </form>
                    {% endif %}
            </div>
        {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
        {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if user.is_authenticated %}
                <form action="post_url/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}