{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        {% for music in musics %}
            <div class="col-md-4">
                <a href="/{{ music.id }}/">
                    <img src="{{ music.cover }}" alt="cover" />
                    <p>Title: {{ music.title }}</p>
                    <p>Album: {{ music.album }}</p>
                    <p>Genre: {{ music.genre }}</p>
                    <p>Artist: {{ music.artist }}</p>
                    <p>Year: {{ music.year }}</p>
                </a>
            </div>
        {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
        {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="post_url/" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}